#title {
    color: magenta;
}

.recipe-list {
    background-color: aqua;
}

li.big-and-mighty.ramen {
    font-size: 72px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

.recipe-list .big-and-mighty {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#bg-img {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), 
        url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Transgender_Pride_flag.svg/1200px-Transgender_Pride_flag.svg.png");

}

/* Styles purely for recipe pages */

h2 {
    font-weight: 200;
    text-decoration: overline;
}

#ingredients {
    font-style: italic;
    color: aqua;
}

.beef {
    color: red;
    font-weight: 900;
    font-size: 36px; 
    background-color: blue;
    text-decoration: underline;
}

li.good {
    color:green;
    font-size: 26px;
}

.violet {
    color:violet;
}

.box {
    border: medium solid;
}

/* Woa - a chained *and* descendant combinator selector */
.violet.box p {
    border: inherit; 
}

ol .funny-child {
    background-color: rebeccapurple;
}

ul.violet .box{
    color: blue; 
    background-color: pink;
}

#marinara{
    font-weight: 1000;
    color: red;
}

.soy-sauce, #elbow-macaroni {
    background-color: burlywood;
}

.soy-sauce {
    color: brown;
}

/* Three type selectors! */

div ul li {
    color: magenta
}

.answer-to-the-question {
    color: blue;
}



/* Selectors for Ramen Page */
.ramen-title {
    background: tan;
    padding: 8px;
}

.ramen-picture {
    display: block;
    margin: 0 auto;
    border: 4px solid tan;
}

.ramen-card {
    background: #ECECEC;
    padding: 0 16px 16px 16px;
}